@media(max-width: 500px){
    .header{
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__heading{
            width: 343px;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            display: flex;
            align-items: center;
            text-align: center;
        }
        &__text{
            width: 343px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            padding-top: 0;
        }
        &__button{
            margin-top: 32px;
            margin-left: 6px;
        }
    }
    .section{
        height: 1221px;
        &__boxes{
            flex-direction: column;
            align-items: center;
        }
        &__container{
            width: 343px;
        }
    }
    .season{
        flex-direction: column;
        align-items: center;
        gap: 0;
        &__2{
            display: none;
            &_mobile{
                display: flex;
            }
        }
        //Elements
        &__heading{
            padding-top: 64px;
            padding-left: 0;
            text-align: center;
            font-size: 32px;
        }
        &__text{
            padding-left: 0;
            width: 343px;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            padding-top: 16px;
        }
        &__img{
            width: 344px;
            height: 236px;
            margin-top: 64px;
            &_2{
                margin-left: 0;
            }
        }
        &__button{
            margin-left: 58px;
            margin-top: 48px;
        }
    }
    .mystery{
        &__heading{
            width: 261px;
            height: 39px;
            font-size: 32px;
            line-height: 39px;
        }
        &__text{
            width: 343px;
            height: 110px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 300;
        }
    }
}