*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
  }


.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
  }

.top{
    height: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    padding-top: 217px;
    padding-left: 120px;
    &__heading{
        color:#FFFFFF;
        width: 788px;
        height: 125px;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
    }
    &__text{
        padding-top: 48px;
        color: #8b8b8b;
        width: 481px;
        height: 64px;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        &_span{
            color: #FFFFFF;
            font-weight: 700;
        }
    }
    &__button{
        margin-top: 90px;
        background: #9C0332;
        border: none;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.05);
        }
    }
}

.section{
    background-image: url(img/Footer__backgroud.jpg);
    height: 556px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__boxes{
        padding-top: 128px;
        display: flex;
        justify-content: space-around;
        gap: 32px;
    }
    &__container{
        width: 379px;
        height: 300px;
        border-radius: 16px;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.05);
        }
        &_1{
            background-image: url(img/footer__game_1.jpg);
        }
        &_2{
            background-image: url(img/footer__game_2.jpg);
        }
        &_3{
            background-image: url(img/footer__game_3.jpg);
        }
        &_heading{
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            margin-left: 32px;
            margin-top: 236px;
        }
    }
}
.season{
    display: flex;
    gap: 130px;
    background: #000915;
    &__2{
        gap: 60px;
        padding-bottom: 239px;
        &_mobile{
            display: none;
        }
    }
    //Elements    
    &__heading{
        padding-top: 282px;
        padding-left: 120px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }
    &__text{
        width: 714px;
        height: 64px;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        padding-top: 32px;
        padding-left: 120px;
    }
    &__button{
        margin-left: 120px;
        margin-top: 64px;
        background: #9C0332;
        border: none;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.05);
        }
    }
    &__img{
        margin-top: 238px;
        width: 485px;
        height: 333px;
        &_2{
            margin-left: 120px;
        }
    }
}
.mystery{
    padding-top: 256px;
    background-image: url(img/unsplash_iO0I6-mhDEY.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__heading{
        width: 392px;
        height: 59px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }
    &__text{
        padding-top: 32px;
        width: 1200px;
        height: 64px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
    }
    &__button{
        margin-top: 64px;
        background: #9C0332;
        border: none;
        border-radius: 30px;
        width: 234px;
        height: 48px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.05);
        }
    }
}
.footer{
    background-image: url(img/Rectangle\ 9.png);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text{
        width: 136px;
        height: 15px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }
}


@import 'mobile'