* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.top {
  height: 1024px;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  padding-top: 217px;
  padding-left: 120px;
}
.header__heading {
  color: #FFFFFF;
  width: 788px;
  height: 125px;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
}
.header__text {
  padding-top: 48px;
  color: #8b8b8b;
  width: 481px;
  height: 64px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.header__text_span {
  color: #FFFFFF;
  font-weight: 700;
}
.header__button {
  margin-top: 90px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  width: 234px;
  height: 48px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.header__button:hover {
  transform: scale(1.05);
}

.section {
  background-image: url(img/Footer__backgroud.jpg);
  height: 556px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section__boxes {
  padding-top: 128px;
  display: flex;
  justify-content: space-around;
  gap: 32px;
}
.section__container {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  transition: all 0.3s;
}
.section__container:hover {
  transform: scale(1.05);
}
.section__container_1 {
  background-image: url(img/footer__game_1.jpg);
}
.section__container_2 {
  background-image: url(img/footer__game_2.jpg);
}
.section__container_3 {
  background-image: url(img/footer__game_3.jpg);
}
.section__container_heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 32px;
  margin-top: 236px;
}

.season {
  display: flex;
  gap: 130px;
  background: #000915;
  height: 800px;
}
.season__heading {
  padding-top: 282px;
  padding-left: 120px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
.season__text {
  width: 714px;
  height: 64px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
  padding-left: 120px;
}
.season__button {
  margin-left: 120px;
  margin-top: 64px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  width: 234px;
  height: 48px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.season__button:hover {
  transform: scale(1.05);
}
.season__img {
  margin-top: 238px;
  width: 485px;
  height: 333px;
}

@media (max-width: 500px) {
  .header {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__heading {
    width: 343px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .header__text {
    width: 343px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 0;
  }
  .header__button {
    margin-top: 32px;
    margin-left: 6px;
  }
  .section {
    height: 1221px;
  }
  .section__boxes {
    flex-direction: column;
    align-items: center;
  }
  .section__container {
    width: 343px;
  }
  .season {
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 1000px;
  }
  .season__heading {
    padding-top: 178px;
    padding-left: 0;
    text-align: center;
    font-size: 32px;
  }
  .season__text {
    padding-left: 0;
    width: 343px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 16px;
  }
  .season__img {
    width: 344px;
    height: 236px;
  }
  .season__button {
    margin-left: 58px;
    margin-top: 48px;
  }
}/*# sourceMappingURL=style.css.map */